@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <h2>Applications</h2>
        @{ 
            var appList = (IEnumerable<TenantDescription>)ViewBag.AppList;
            foreach(var app in appList)
            {
                <h3>@app.Name</h3>
            }
        }
    </div>
    <div class="col-md-3">
        <h3>Create Tenant</h3>
        <form class="form-group">
            <input type="text" class="form-control" placeholder="Name" />
            <button class="btn btn-warning">Create New Application</button>
        </form>
    </div>
</div>
